 *{
     margin: 0;
     padding: 0;
    box-sizing: border-box;

    }

.btnf {
    display: block;
    border-radius: 3rem;
    gap: 1rem;
    margin: 10px;
    size: 1rem;
    padding: 15px 32px;
    width: 99%;   

}

.tituloq{

    color: #00b4d8;
    font-size: 4rem;

}

